In [19]:
import pandas as pd 
import numpy as np 
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [20]:
%matplotlib inline

In [2]:
df=pd.read_csv("insurance_data.csv")

In [ ]:
# x=df[['age','affordibility']]
# y = df['bought_insurance']
# y=df.loc[:,'bought_insurance']# : indicates all the rows in the bought_insurance columns and one specific column label.
# r=df.loc[0,'age']#we are selecting on the age column but no rows will be included when assigning those r 
# q=df.loc[0:5,'age'] display the first rows of the age colum but if you remove the 'age' from the code then it works as head()
# p=df.loc[:,'age'] --> every single row and in the age columns

In [7]:
y2 = df['bought_insurance']
y1=df.loc[:,'bought_insurance']# : indicates all the rows in the bought_insurance columns and one specific column label.

# print(y2)
print(y1)

0     0
1     0
2     1
3     0
4     1
5     1
6     0
7     1
8     1
9     1
10    0
11    0
12    0
13    0
14    1
15    1
16    1
17    1
18    0
19    0
20    0
21    0
22    1
23    1
24    1
25    1
26    0
27    0
Name: bought_insurance, dtype: int64

In [ ]:
# df.loc[2]
# "Give me rows 0 to 5 (exclusive) and column at index 1"
df.iloc[0:5, 0]
# "Give me rows 0 to 5 and the column 'age'"
# df.loc[0:5, 'age']

0    22
1    25
2    47
3    52
4    46
Name: age, dtype: int64

In [18]:
df.loc[0:5, 'age']

0    22
1    25
2    47
3    52
4    46
5    56
Name: age, dtype: int64

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(df[['age','affordibility']],y2 = df['bought_insurance'],test_size=0.2,random_state=25)

x_train_scaled=x_train.copy()
x_train_scaled["age"]=x_train_scaled["age"]/100

In [22]:
len(x_train)

22

In [23]:
x_train_scaled

     age  affordibility
0   0.22              1
13  0.29              0
6   0.55              0
17  0.58              1
24  0.50              1
19  0.18              1
25  0.54              1
16  0.25              0
20  0.21              1
3   0.52              0
7   0.60              0
1   0.25              0
5   0.56              1
27  0.46              1
8   0.62              1
18  0.19              0
12  0.27              0
23  0.45              1
22  0.40              1
15  0.55              1
26  0.23              1
4   0.46              1

why did we scaled the age only and why not we did it for affordibility . because they both on are in the different range of the diggits to get match them to same rnage we did the scaling on the only the age

- if we do scaling our ml or dl model will tends work better and understand and learns better from the data other wise it one more complexcity the model has to work with this might cause inaccurate model perfromance , could also lead to take more time and resources

In [ ]:
model =keras.sequentianl([
    keras.layers.Dense(1,input_shape=(2,),activation=sigmoid,kernel_initializer='ones',bias_initializer='zeros')
])

model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

model.fit(x_train_selected,y_train,epochs=2000)

### breakdown of the code block of the model 

- keras.sequentianl([]) this implie sequential model and kera.layers.dense is what decides how many layers does our models hidden layer will have .Dense does not only represent hidden layers. It can be used for hidden layers (intermediate) and the final output layer.

- kernel_initializer='ones' indicates that we are assigining the weights as 1 and bias_initializer='zeros' indicates that we want our bias to be assigned zero when starting the model over time they will get updated over the iteration in the epochs 


### model compile code block break down
- binary_crossentropy is same as log loss sing we are using the sigmoid as our activation function

Revised statement for maximum accuracy: keras.Sequential allows stacking layers linearly. Each keras.layers.Dense layer adds a fully-connected layer to the model, and the units argument defines the number of neurons in that layer.